html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial scale = 1, shrink-to-fit=no")
		title nycda blog
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
	body
		.container
			.row
				.col-xs-12
					nav.navbar.navbar-default
						a.navbar-brand(href="#") Isis van der Plas | Blog

		.container
			.row
				.col-xs-8
					.card.card-block
						h1 Blog Title
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				.col-xs-4
					.card.card-block
						h6 sidebar


		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js")
		script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous")
		script(src="../index.js")
