extends  ../layout/application

block content
  section.container
    .row
      .col-xs-8
        .card.card-block
          post.title
          post.content

      .col-xs-4
        .card.card-block
          h6  Sidebar
